<!DOCTYPE html>
<html lang="<%= page.lang %>">
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title><% if (page.title) { %><%= page.title %><% } %></title>
    <meta property="og:site_name" content="Living Work" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= page.title %>" />
    <meta property="og:image" content="<%= config.url %>/img/curves_ahead.jpg" />
    <meta property="og:description" content="This is the house of Love, which has no bound nor end." />
    <meta property="og:url" content="<%= page.permalink %>" />
    <meta property="og:image:width" content="284" />
    <meta property="og:image:height" content="213" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@cryptowanderer" />
    <meta name="twitter:image" content="https://living.thebluebook.co.za/img/curves_ahead.jpg" />
    <meta name="twitter:image:alt" content="Living Work" />

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600|IBM+Plex+Sans:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap" rel="stylesheet"> 
    <%- css('css/main') %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
</head>